<nav class="navbar navbar-expand">
  <%= link_to 'HTML tags counting', new_document_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse">

    <% if user_signed_in? %>
      <ul class="navbar-nav">
        <%= link_to 'My documents', documents_path, class: 'nav-link' %>          
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <span class="navbar-text"> Welcome <%= current_user.full_name %>!</span>
        
        <%= link_to destroy_user_session_path, 
                    title: 'Logout', 'data-toggle' => 'tooltip',
                    method: :delete, class: 'nav-link' do%>
                    <%= octicon "sign-out" %>
                    <% end %>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <%= link_to new_user_registration_path, 
                    title: 'Sign-up', 'data-toggle' => 'tooltip',
                    class: 'nav-link' do %>
                    <%= octicon "shield" %>
                    <% end %>
        <%= link_to new_user_session_path, 
                    title: 'Login', 'data-toggle' => 'tooltip',
                    class: 'nav-link' do %>
                    <%= octicon "sign-in" %>
                    <% end %>
      </ul>
    <% end %>

  </div>
</nav>


