<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <div class="card border-secondary">
      <div class="card-body">

        <%= form_with model: @document, local: true do |form| %>
        <%= render 'shared/errors', resource: @document %>

         <p>
           <%= form.label :url %><br>
           <%= form.text_area :url, id: :document_url, class: 'form-control' %>
         </p> 

          <p><%= form.submit class: 'btn btn-outline-success btn-sm' %></p>
        <% end %>

      </div>
    </div>
  </div>
</div>
