<h1>Documents</h1>

<div class="table-resposive">
  <table class="table mt-3">
    <tr>
      <th width="300">URL</th>
      <th width="35" align="center">Actions</th>
      <th></th>
    </tr>

    <% @documents.each do |document| %>
      <tr>
        <td><%= truncate(document.url, length: 35) %></td>      
        <td><%= link_to 'Show', document_path(document) %></td>      
        <td><%= link_to 'Destroy', document_path(document),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<div>

<%= paginate @documents %>

<%= link_to 'New document', new_document_path %>
