<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <div class="card border-secondary">
      <div class="card-body">

        <%= form_with model: @tag, local: true do |form| %>
        <%= render 'shared/errors', resource: @tag %>

        <p>
        <%= @tag.title %> tag
        </p>

        <p>  
        <%= form.label :count %><br>
        <%= form.text_area :count, id: :tag_count, class: 'form-control' %>
        </p> 

        <p><%= form.submit class: 'btn btn-outline-success btn-sm' %></p>
        <% end %>


      </div>
    </div>
    <%= link_to 'Back', document_path(@tag.document), class: 'btn btn-outline-primary' %>
  </div>
</div>