<tr>
  <td><%= tag.title %></td>
  <td><%= tag.count %></td>
  <td>
    <div class="btn-group btn-group-sm">
      <%= show_button(tag_path(tag)) do %>
          <%= octicon "telescope" %>
          <% end %>
      <%= edit_button(tag_path(tag)) do %>
          <%= octicon "settings" %>
          <% end %>
      <%= delete_button(tag_path(tag)) do %>                  
          <% octicon 'trashcan' %>
          <% end %>  
    </div>
  </td>
</tr>
  